<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="JavaScriptFile/vue.js"></script>
    <!-- v-if 条件性的渲染某元素,判定为true时渲染，否则不渲染 -->
    <!-- v-show 根据条件展示某元素，区别在与切换的是display属性的值 -->
</head>
<body>
    <div id="app">

        年龄<input type="text" v-model="age">经过判定为:       
        <span v-if="age <=35" >年轻人</span>
        <span v-else-if="age >35 && age<=60">中年人</span>
        <span v-else>老奶奶人</span>
        <br>
        年龄<input type="text" v-model="age">经过判定为:       
        <span v-show="age <=35" >年轻人</span>
        <span v-show="age >35 && age<=60">中年人</span>
        <span v-show>老奶奶人</span>


    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            age:20
        },
        methods:{

        },
    })
</script>
</html>